{% extends 'base.html' %}
{% block title %}管理{% endblock %}
{% block beforehead %}
    <script>
        function initVm(data) {
            new Vue({
                el: '#vm',
                data:data
            });
        }
        $(function () {
            getJSON('/api/blogs',function (r,error) {
                if(error) {
                    return fatal(error)
                }
                $('#loading').hide();
                initVm(r);
            })
        })
    </script>
{% endblock %}
{% block content %}
    <div class="uk-margin-top uk-width-1-1">
        <div class="uk-panel-box">
            <div class="uk-breadcrumb">
                <li><a href="/manage/blogs">日志</a></li>
                <li><a href="#">评论</a></li>
                <li><a href="#">用户</a></li>
            </div>
        </div>
        <div id="error" class="uk-width-1-1"></div>

        <div id="loading" class="uk-width-1-1 uk-text-center">
            <span><i class="uk-icon-spin uk-icon-medium uk-icon-spin"></i>正在加载...</span>
        </div>
        <div class="uk-width-1-1">
            <a href="/manage/blogs/create" class="uk-button uk-button-primary uk-margin-top">
                <i class="uk-icon-plus"> 新日志</i>
            </a>
            <table class="uk-table" id="vm">
                <thead>
                <tr>
                    <th class="uk-width-5-10">标题</th>
                    <th class="uk-width-2-10">作者</th>
                    <th class="uk-width-2-10">创建时间</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="blog of blogs">
                    <td>
                        <a target="_blank" v-bind:href="#" v-text="blog.name"></a>
                    </td>
                    <td>
                        <a target="_blank" v-bind:href="#" v-text="blog.user_name"></a>
                    </td>
                    <td>
                        <span v-text="blog.created_at.toDataTime()"></span>
                    </td>
                    <td>
                        <a href="/api/blogs/edit/"><i class="uk-icon-edit"></i></a>
                        <a href="/api/blogs/delete/"><i class="uk-icon-trash-o"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

